*{
    /* box-sizing: border-box; */
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  padding: 3%;
  margin-left: auto;
  /* margin-right: 55px; */
  
}
.card img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
  transform: scale(1.1);
  }
  .card img{
    width: 100%;

  }
  /* .container{
      width: auto;
      padding: 10%;
      margin: 10%;
  } */
